<h1>Stupid Coaching</h1>

<div class="background">
  <p><%= @question %> <br><em>- You</em></p>
</div>
<div class="background">
  <p><%= @answer %> <br><em> - Your Coach</em></p>
</div>

<%= link_to 'Ask a new question', ask_path %>
